<!doctype html>
{% load static %}
<html lang="en">
<head>
	<style>
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.round {
  border-radius: 50%;
}
    /* Apply uppercase transformation to the input field */
    #capitalInput {
        text-transform: uppercase;
    }
</style>
</head>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<title>Softball Registration Form Flat Responsive widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Softball Registration Form Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files -->
<link href="//fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
<!-- /font files -->
<!-- css files -->
<link href="{% static 'logcss/style.css' %}" rel='stylesheet' type='text/css' media="all" />
<!-- /css files -->
<link href="{% static 'logcss/wickedpicker.css' %}" rel="stylesheet" type='text/css' media="all" />
<script type="text/javascript" src="{% static 'logjs/jquery-2.1.4.min.js' %}"></script>

</head>

<body>



<!--	<div class="w3-banner-main">-->
<!--		<div class="center-container">-->
<!--			<h1 class="header-w3ls">user</h1>-->
<!--			<div class="content-top">-->
<!--				<div class="content-w3ls">-->

<!--						<form action="user_reg" method="post">-->
<!--							{% csrf_token %}-->
<!--							<div class="content-wthree1">-->
<!--								<div class="grid-agileits1">-->
<!--									<div class="form-control">-->
<!--										<label class="header">Name </label>-->
<!--										<input type="text"  name="n1" placeholder="name here.." title="Please enter your Full Name" required="">-->
<!--									</div><br>-->

<!--									<div class="form-control">-->
<!--										<label class="header">Email </label>-->
<!--										<input type="email"  name="n2" placeholder="email here.." title="Please enter a Valid Email Address" required="">-->
<!--									</div><br><br>-->

<!--									<div class="form-control">-->
<!--										<label class="header">Phone Number </label>-->
<!--										<input type="text" name="n4" pattern="[6-9]{1}[0-9]{9}" placeholder="phone number.." title="Please enter valid phone number" required="">-->
<!--									</div><br>-->
<!--									<div class="grid-w3layouts1">-->
<!--&lt;!&ndash;									<div class="w3-agile1">&ndash;&gt;-->
<!--&lt;!&ndash;										<label class="rating">Choose gender </label>&ndash;&gt;-->
<!--&lt;!&ndash;										<ul>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;											<li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;												<input type="radio" id="a-option" name="male">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;												<label for="a-option">Male </label>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;												<div class="check"></div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;											</li>&ndash;&gt;-->
<!--&lt;!&ndash;											<li>&ndash;&gt;-->
<!--&lt;!&ndash;												<input type="radio" id="b-option" name="female">&ndash;&gt;-->
<!--&lt;!&ndash;												<label for="b-option">Female</label>&ndash;&gt;-->
<!--&lt;!&ndash;												<div class="check"><div class="inside"></div></div>&ndash;&gt;-->
<!--&lt;!&ndash;											</li>&ndash;&gt;-->
<!--&lt;!&ndash;											<li>&ndash;&gt;-->
<!--&lt;!&ndash;												<input type="radio" id="c-option" name="others">&ndash;&gt;-->
<!--&lt;!&ndash;												<label for="b-option">others</label>&ndash;&gt;-->
<!--&lt;!&ndash;												<div class="check"><div class="inside"></div></div>&ndash;&gt;-->
<!--&lt;!&ndash;											</li>&ndash;&gt;-->

<!--										</ul>-->
<!--									</div>-->
<!--								</div>-->
<!--&lt;!&ndash;								<div class="form-control">&ndash;&gt;-->
<!--&lt;!&ndash;							<label class="header">Date of joining </label>	&ndash;&gt;-->
<!--&lt;!&ndash;							<input  id="datepicker1" name="Text" type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;<br>-->
<!--									<div class="form-control">-->
<!--										<label class="header">Location </label>-->
<!--										<input type="text"  name="n3" placeholder="location here.."  required="">-->
<!--									</div><br>-->
<!--&lt;!&ndash;						<div class="gaps">&ndash;&gt;-->
<!--&lt;!&ndash;							<label class="header">Time </label>	&ndash;&gt;-->
<!--&lt;!&ndash;							<input type="text" id="timepicker" name="Time" class="timepicker form-control" value="">	&ndash;&gt;-->
<!--&lt;!&ndash;						</div>	&ndash;&gt;-->
<!--									<div class="form-control">-->
<!--&lt;!&ndash;										<label class="header">Adhar Number </label>&ndash;&gt;-->
<!--&lt;!&ndash;										<input type="text"  name="ADHAR" placeholder="adhar number here.." required="">&ndash;&gt;-->
<!--&lt;!&ndash;									</div>&ndash;&gt;-->
<!--&lt;!&ndash;								</div>&ndash;&gt;-->
<!--							</div>-->
<!--					</div>-->
<!--					<div class="form-w3ls-1">-->
<!--						<div class="form-control">-->
<!--							<label class="header">Username </label>-->
<!--							<input type="text" name="n5" placeholder="username.." required="">-->
<!--						</div><br>-->

<!--								<div class="form&#45;&#45;control">-->
<!--									<label class="header">Password </label>-->
<!--&lt;!&ndash;									<textarea  name="name" placeholder="" title="" required=""></textarea>&ndash;&gt;-->
<!--										<input type="password" name="n6" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"  required=""><br><br>-->
<!--									</div><br>-->

<!--&lt;!&ndash;						<div class="form-control"> &ndash;&gt;-->
<!--&lt;!&ndash;							<label class="header">Address </label>&ndash;&gt;-->
<!--&lt;!&ndash;							<input type="text" id="name" name="name" placeholder="" title="Please enter your Full Name" required="">&ndash;&gt;-->
<!--&lt;!&ndash;						</div>	&ndash;&gt;-->
<!--						<div class="form-w3ls-1">-->
<!--						<div class="form-control">-->
<!--&lt;!&ndash;							<label class="header">specialised skill</label>&ndash;&gt;-->
<!--&lt;!&ndash;							<input type="text" name="SKILL" placeholder="skill here.." required="">&ndash;&gt;-->
<!--&lt;!&ndash;						</div><br>&ndash;&gt;-->
<!--							<div class="form&#45;&#45;control">-->
<!--&lt;!&ndash;									<label class="header">Experience </label>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;									<textarea  name="name" placeholder="" title="" required=""></textarea>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;										<input type="text" name="EXPERIENCE" placeholder="experience here..." required="">&ndash;&gt;-->

<!--                                   <center><input type="submit" value="submit"></center>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--                        </form>-->
<!--					</div>-->
<!--					<div class="clear"></div>-->
<!--				</div>-->
<!--			</div>-->

<!--		</div>-->
<!--	</div-->
<div class="w3-banner-main">
		<div class="center-container">
			<a href="index" class=""><span style="color:black;">&laquo; Back</span></a>
			<a href="index" class="previous round">&#8249;</a>
			<h1 class="header-w3ls">User Registration</h1>
			<div class="content-top">
				<div class="content-w3ls">
					<div class="form-w3ls">
						<form action="user_reg" method="post">
							{% csrf_token %}
							<div class="content-wthree1">
								<div class="grid-agileits1">
									<div class="form-control">
										<label class="header">Name </label>
										<input type="text"  name="NAME" placeholder="name here.." title="Please enter your Full Name" required="">
									</div><br>

									<div class="form-control">
										<label class="header">Email </label>
										<input type="email"  name="EMAIL" placeholder="email here.." title="Please enter a Valid Email Address" required="">
									</div><br>

									<div class="form-control">
										<label class="header">Phone Number </label>
										<input type="text" name="PHONE"  pattern="[6-9]{1}[0-9]{9}" placeholder="phone number.." title="Please enter valid phone number" required="">
									</div><br>
									<div class="grid-w3layouts1">
										</ul>
									</div>
								</div>

								</div>
							</div>
					</div>


						<div class="form-w3ls-1">
<!--						<div class="form">-->
<!--							<label class="header">Gender </label>-->
<!--							<select class="form" name="GENDER">-->
<!--										<option></option>-->
<!--										<option>MALE</option>-->
<!--										<option>FEMALE</option>-->
<!--										<option>OTHERS</option>-->
<!--									</select>-->
<!--						</div><br>-->
						<div class="form-w3ls-1">
						<div class="form-control">
							<label class="header">Location</label>
							<input type="text" name="LOCATION" placeholder="location here.." id="capitalInput" required="">
						</div><br>
							<div class="form-control">
										<label class="header">Username </label>
										<input type="text"  name="USERNAME" placeholder="location here.."  required="">
									</div><br>
							<div class="form--control">
									<label class="header">Password </label>
<!--									<textarea  name="name" placeholder="" title="" required=""></textarea>-->
										<input type="password"  name="PASSWORD" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required="">
									</div><br><br>

								</div>
							</div><br>

									  <input type="submit" value="Register">

				    </form>




					</div>

					<div class="clear"></div>
				</div>
			</div>

		</div>
	</div>

<!-- Calendar -->
				<link rel="stylesheet" href="{% static 'logcss/jquery-ui.css' %}" />
				<script src="{% static 'logjs/jquery-ui.js' %}"></script>
				  <script>
						  $(function() {
							$( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
						  });
				  </script>
			<!-- //Calendar -->
			<script type="text/javascript" src="{% static 'logjs/wickedpicker.js' %}"></script>
			<script type="text/javascript">
				$('.timepicker').wickedpicker({twentyFour: false});
			</script>


</body>
</html>

<!--&lt;!&ndash;A Design by W3layouts-->
<!--   Author: W3layout-->
<!--   Author URL: http://w3layouts.com-->
<!--   License: Creative Commons Attribution 3.0 Unported-->
<!--   License URL: http://creativecommons.org/licenses/by/3.0/-->
<!--   &ndash;&gt;-->
<!--<!DOCTYPE html>-->
<!--{% load static %}-->
<!--<html lang="en">-->
<!--   <head>-->
<!--      <title>Gaze Sign up & login Form a Flat Responsive Widget Template :: w3layouts </title>-->
<!--      &lt;!&ndash; Meta tags &ndash;&gt;-->
<!--      <meta name="viewport" content="width=device-width, initial-scale=1" />-->
<!--      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--      <meta name="keywords" content="Gaze Sign up & login Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"-->
<!--         />-->
<!--      <script>-->
<!--         addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }-->
<!--      </script>-->
<!--      &lt;!&ndash; Meta tags &ndash;&gt;-->
<!--      &lt;!&ndash;stylesheets&ndash;&gt;-->
<!--      <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' media="all">-->
<!--      &lt;!&ndash;//style sheet end here&ndash;&gt;-->
<!--      <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">-->
<!--   </head>-->
<!--   <body>-->
<!--      <div class="mid-class">-->
<!--         <div class="art-right-w3ls">-->
<!--            <center><h2>Sign-<b>In</b> and Sign-<b>Up</b><br><sub><b></b></center></sub></h2>-->
<!--            <form action="user_reg" method="post">-->
<!--               {% csrf_token %}-->
<!--               <div class="main">-->
<!--                  <div class="form-left-to-w3l">-->
<!--                     <input type="text" name="n1" placeholder="Name" required="">-->
<!--                  </div>-->
<!--                  <div class="form-left-to-w3l ">-->
<!--                     <input type="email" name="n2" placeholder="Email" required="">-->
<!--                     <div class="clear"></div>-->
<!--                  </div>-->

<!--                  <div class="form-left-to-w3l">-->
<!--                     <input type="text" name="n3" placeholder="Location" required="">-->
<!--                  </div>-->
<!--                  <div class="form-left-to-w3l">-->
<!--                     <input type="text" name="n4" placeholder="phone number" required="">-->
<!--                  </div>-->
<!--                  <div class="form-left-to-w3l">-->
<!--                     <input type="text" name="n5" placeholder="Username" required="">-->
<!--                  </div>-->
<!--                  <div class="form-left-to-w3l">-->
<!--                     <input type="password" name="n6" placeholder="Password" required="">-->
<!--                  </div>-->
<!--               </div>-->
<!--               <div class="clear"></div>-->
<!--               <div class="btnn">-->
<!--                  <button type="submit">submit</button>-->
<!--               </div>-->
<!--            </form>-->
<!--            <div class="w3layouts_more-buttn">-->
<!--               <h3>Already have an account..?-->
<!--                  <a href="login">Log In Here-->
<!--                  </a>-->
<!--               </h3>-->
<!--            </div>-->
<!--            &lt;!&ndash; popup&ndash;&gt;-->
<!--            <div id="content1" class="popup-effect">-->
<!--               <div class="popup">-->
<!--                  &lt;!&ndash;login form&ndash;&gt;-->
<!--                  <div class="letter-w3ls">-->
<!--               <form action="login" method="post">-->
<!--               {% csrf_token %}-->
<!--               <div class="main">-->
<!--                  <div class="form-left-to-w3l">-->
<!--                     <input type="text" name="n6" placeholder="Username" required="">-->
<!--                  </div>-->
<!--                  <div class="form-left-to-w3l ">-->
<!--                     <input type="password" name="n5" placeholder="Password" required="">-->
<!--                     <div class="clear"></div>-->
<!--                  </div>-->
<!--               </div>-->
<!--               <div class="left-side-forget">-->
<!--                  <input type="checkbox" class="checked">-->
<!--                  <span class="remember-me">Remember me </span>-->
<!--               </div>-->
<!--               <div class="right-side-forget">-->
<!--                  <a href="#" class="for">Forgot password...?</a>-->
<!--               </div>-->
<!--               <div class="clear"></div>-->
<!--               <div class="btnn">-->
<!--                  <button type="submit">Log In</button>-->
<!--               </div>-->
<!--            </form>-->
<!--                     <div class="clear"></div>-->
<!--                  </div>-->
<!--                  &lt;!&ndash;//login form&ndash;&gt;-->
<!--                  <a class="close" href="#">&times;</a>-->
<!--               </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; //popup &ndash;&gt;-->
<!--         </div>-->


<!--         </div>-->
<!--      </div>-->
<!--      <footer class="bottem-wthree-footer">-->

<!--      </footer>-->
<!--   </body>-->
<!--</html>-->